spring:
  profiles:
    active: dev
  web:
    locale: en
  messages:
    basename: messages
    encoding: UTF-8
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      jakarta:
        persistence:
          validation:
            mode: auto
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 50MB
server:
  error:
    include-message: always

azure:
  storage:
    connection-string: ${AZURE_STORAGE_CONNECTION_STRING} # make sure this is set in your environment variables
    blob-container-name: profile-pictures

